<div class="main-container">
    <div class="container mt-0 d-flex flex-column align-items-center">
        <img src="assets/img/not-found-404.svg" class="not-found-icon" alt="not found">
        <h1 class="mt-8 mb-3 text-center">Page not found</h1>
        <span class="subtitle mb-4 text-center">The page you were looking for isn’t here</span>
        <a class="not-found__home-page-button mb-4" routerLink="/">
            <oc-button type="primary" text="Go to home page" class="button-255" (click)="goToHomePage()"></oc-button>
        </a>
    </div>
</div>
