<div class="main-container d-flex flex-column">
    <header>
        <div class="container">
            <img src="assets/img/logo-company.png" class="logo">
        </div>
    </header>
    <div class="container flex-grow-1 d-flex flex-column align-items-center justify-content-center">
        <img src="assets/img/not_found.svg" class="mb-8">
        <h1 class="mb-3">Page not found</h1>
        <span class="subtitle mb-4">The page you were looking for isn’t here</span>
        <oc-button type="primary" text="Go to home page" class="button-255" routerLink="/"></oc-button>
    </div>
</div>
