@import '~assets/styles/mixins';

.reset-position {
    display: block;
    margin: 5rem auto 0;
    width: 412px;
}

@include media-breakpoint-sm {
    .reset-position {
        margin: 0 auto;
        width: 100%;
    }
}
