.search-tags {
  margin: 18px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  &__element {
    margin: 0 8px 8px 0;
  }
}

.filter__container {
  display: flex;
  flex-direction: column;
}
