<div class="container">
    <div class="navigation-container d-flex flex-row">
            <img src="./assets/img/path_arrow.svg"
                 alt="arrow-icon">
            <a href="#" class="font-m font-med pl-1">Back</a>
    </div>
    <app-collapse-with-title titleForClose="Close filter options"
                             titleForOpen="Open filter options"
                             class="filter-open-close"
                             [collapsed]="isHideFilter"
                             (collapseChanged)="onCollapseChanged($event)">
    </app-collapse-with-title>
    <div class="filter-container row" *ngIf="loadFilters$ | async">
        <div class="col-md-3 d-md-block col-xxl-2" [ngbCollapse]="isHideFilter">
            <div *ngFor="let filter of filters" class="mb-3">
                <div [ngSwitch]="filter?.id">
                    <oc-sidebar *ngSwitchCase="SINGLE_FILTER"
                                class="mb-1"
                                (sidebarChange)="onSingleFilterChange(filter, $event, true)"
                                [title]="filter.name"
                                [sidebarModel]="filter.values"></oc-sidebar>
                    <oc-sidebar *ngSwitchDefault
                                class="mb-1"
                                (sidebarChange)="onMultiFilterChange(filter, $event)"
                                [title]="filter.name"
                                [sidebarModel]="filter.values"></oc-sidebar>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-xxl-10">
            <oc-text-search [(searchText)]="searchText" (enterSearch)="onTextChange($event)"></oc-text-search>
            <div class="search-tags">
                <oc-tag-element class="search-tags__element" *ngFor="let filter of selectedFilterValues"
                                [title]="filter?.value.label" [closeMarker]="true"
                                (clickEmitter)="disableFilterValue(filter.filterId, filter.value)"></oc-tag-element>
                <oc-tag-element  class="search-tags__element" *ngIf="searchTextTag"
                                [title]="searchTextTag" [closeMarker]="true"
                                (clickEmitter)="clearSearchText()"></oc-tag-element>
            </div>
            <oc-app-list-grid [appList]="appPage?.list"
                              baseLinkForOneApp="/details"
                              appNavigationParam="safeName[0]"
                              defaultAppIcon="./assets/img/default-app-icon.svg"></oc-app-list-grid>
            <div *ngIf="!appPage?.list?.length"
                 class="search__no-results">No results found</div>
        </div>
    </div>
</div>
