<div class="bg-container pt-5">
    <oc-signup class="signup-position"
               (submitClick)="onSignup($event)"
                [signupModel]="signupModel"
                [loginUrl]="loginUrl"
                [signupUrl]="signupUrl"
                [activationUrl]="activationUrl"
                [companyLogoUrl]="companyLogoUrl"
                [showSignupFeedbackPage]="showSignupFeedbackPage"
                [termsUrl]="termsAndConditionPageUrl"
                [policyUrl]="dataProcessingPolicyUrl"
                [process]="inProcess"
                [withCompany]="true"
                [forgotPasswordDoneUrl]="forgotPasswordDoneIconPath"></oc-signup>
</div>
