ngb-toast{
    &.notification-error{
        .toast-header {
            .mr-auto{
                color: #e65800 !important;   
            } 
            .close{
                visibility: hidden;
            }
        }    
    }
    &.notification-success{
        .toast-header {
            .mr-auto{
                color: #009957 !important;   
            } 
            .close{
                visibility: hidden;
            }
        }    
    }

    li{
        list-style: none;
        font-family: "Rubik Regular";
        font-size: 14px;
        font-weight: normal;
    }    
    .toast-footer{    
        margin-top: 10px;
        text-align: right !important;    
        .btn{
            min-width: 0px !important;
            &.btn-link{          
                text-align: right;
                padding-right: 0px;
            }
        }
    }
}


