.navbar {
  padding: 0 1rem;
  border-bottom: 1px solid rgba(201, 213, 234, 0.5);
}
.navbar-light .navbar-nav .nav-item.active > .nav-link {
  opacity: 1;
  border-bottom: 3px solid #537cfd;
  padding-bottom: 25px;
}
.navbar-light .navbar-nav .nav-item .nav-link {
  opacity: 0.5;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-item.dropdown .nav-link {
  opacity: 1;
  padding: 28px 20px;
  font-size: 14px;
  color: #333333;
  font-family: "Rubik-Medium";
}

li.nav-item.dropdown:hover{
  .dropdown-menu{
    display: block;
  }
}
// .top-header {
//   .container {
//     padding-left: 7px;
//     padding-right: 7px;
//   }
//   .nav-bg {
//     background-color: #2b86b2 !important;
//   }
//   .navbar-expand-lg .navbar-nav .active .brand-nav {
//     padding: 15px 20px;
//     padding-left: 0px;
//     color: #fff !important;
//     font-family: "CentraleSans-300";
//     font-size: 18px;
//     opacity: 1;
//   }

//   .navbar-expand-lg .navbar-nav .sub-link .nav-link {
//     padding: 3px 0 3px 50px;
//     font-family: "CentraleSans-Normal";
//     color: #daf1f7;
//     font-size: 14px;
//   }
//   .navbar-expand-lg .navbar-nav .sub-link .nav-link.active {
//     opacity: 1;
//     font-family: "CentraleSans-Bold";
//     color: #fff !important;
//   }

//   .navbar .img-menu {
//     max-width: 100%;
//     height: 20px;
//   }

//   .navbar {
//     min-height: 48px;
//     color: #ffffff !important;
//     padding: 0px;
//     box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
//     a {
//       font-family: "CentraleSans-300";
//       color: #daf1f7 !important;
//       font-size: 14px;
//     }
//     .header-logo {
//       position: absolute;
//       top: 0;
//       box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
//       //box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
//     }
//     .header-text {
//       margin-left: 122px;
//     }
//   }

//   .navbar-nav {
//     .menu-search {
//       padding-right: 50px;
//       a {
//         font-size: 0px;
//       }
//       a::after {
//         content: "";
//         position: absolute;
//         width: 35px;
//         height: 30px;
//         background-image: url(/assets/img/search-icon.svg);
//         background-size: 20px;
//         background-repeat: no-repeat;
//         background-position: 0px 3px;
//         border-right: 1px solid rgba(255, 255, 255, 0.1);
//         opacity: 0.8;
//         cursor: pointer;
//       }
//     }
//     .menu-search.active {
//       position: relative;
//       .navbar-search {
//         max-width: 320px;
//         width: 100%;
//         height: 0;
//         display: inline-block;
//         padding: 5px 0;
//         input {
//           background: transparent;
//           border: 0px;
//           border-bottom: 1px solid #fff;
//           border-radius: 0px;
//           padding-left: 30px;
//           color: #fff;
//           font-size: 0.875em;
//         }
//         input.form-control {
//           height: inherit;
//           transition: border-color 0.15s ease-in-out,
//             box-shadow 0.15s ease-in-out;
//         }
//         .form-control:focus {
//           box-shadow: none;
//         }
//         ::placeholder {
//           color: #fff;
//           opacity: 0.5;
//         }
//       }
//       a {
//         position: absolute;
//         z-index: 9;
//         left: -12px;
//       }
//       a::after {
//         border-right: 0;
//       }
//     }
//     .nav-item {
//       a {
//         color: #daf1f7;
//       }
//     }
//   }

//   .navbar {
//     .dropdown-item {
//       color: #212121 !important;
//       font-size: 16px;
//       font-weight: normal;
//       &:hover{
//         background-color: #f8f9fa !important;;
//       }
//     }

//     .dropdown-item:active {
//       color: #212121 !important;
//       text-decoration: none;
//     }
//   }
//   .navbar-brand {
//     display: inline-block;
//     padding: 0;
//     font-size: 1.25rem;
//     line-height: inherit;
//     white-space: nowrap;
//   }
//   .dropdown:hover .dropdown-menu {
//     display: block;
//     margin-top: -0.2rem;
//   }
//   .dropdown-toggle::after {
//     margin-left: 3em;
//   }
//   .fa-caret-down,
//   .fa-caret-up {
//     margin-top: 3px;
//     margin-left: 60px;
//   }
// }

// // Media Query - max-width: 767px Start
// @media (max-width: 767px) {
//   .navbar-toggler {
//     padding: 1rem 2rem;
//   }
//   .navbar-nav .nav-link {
//     margin: 0;
//   }
//   .dropdown-toggle::after {
//     margin-left: 14em;
//   }
//   .top-header {
//     .navbar .dropdown-item {
//       color: #fff !important;
//       font-size: 14px;
//       font-weight: normal;
//       padding: 0.5rem 2.5rem;
//     }

//     .dropdown-menu {
//       background-color: #2b86b2;
//       border: 0;
//       border-top: 1px solid #ffffff50;
//       border-radius: 0;
//     }
//     .navbar-nav .ml-tab {
//       margin: 30px;
//     }
//     .navbar {
//       a {
//         color: #fff !important;
//         font-size: 16px;
//         font-family: "CentraleSans-Normal";
//       }
//       .header-logo {
//         top: 61px !important;
//       }
//       .menu-search.active {
//         .navbar-search {
//           padding: 0 0 46px;
//           input {
//             margin-left: 22px;
//           }
//         }
//         a {
//           left: -2px;
//           top: -5px;
//         }
//       }
//     }
//     .navbar-expand-lg .navbar-nav .active .brand-nav {
//       font-family: "CentraleSans-Normal";
//     }
//   }
//   .navbar-toggler {
//     padding: 20px 15px;
//   }

//   .navbar-expand-lg .navbar-nav .brand-nav {
//     margin: 5px 20px;
//   }

//   .navbar-nav .nav-link {
//     margin: 2px 25px;
//   }
//   .nav-item.dropdown {
//     .nav-link.link-mob {
//       padding-top: 17px;
//     }
//   }
//   .navbar-expand-lg .navbar-nav .sub-link .nav-link {
//     padding: 15px 0 0 0 !important;
//     font-size: 16px !important;
//     color: #fff;
//   }
// }
// // Media Query - max-width: 767px End

// // iPad Media Query - min-device-width : 768px and max-device-width : 1024px Start
// @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
//   .top-header {
//     .navbar {
//       padding: 15px;
//     }
//     .navbar-toggler {
//       padding: 0.5rem 2rem;
//     }
//     .navbar-nav .nav-link {
//       margin: 0;
//     }
//     .dropdown-toggle::after {
//       margin-left: 38em;
//     }

//     .navbar .dropdown-item {
//       color: rgba(255, 255, 255, 0.86) !important;
//       font-size: 14px;
//       font-weight: normal;
//       padding: 1rem 1.5rem;
//     }
//     .dropdown-menu {
//       background-color: #2b86b2;
//       border: 0;
//       border-top: 1px solid #ffffff50;
//       border-radius: 0;
//     }

//   }
// }
// // iPad Media Query - min-device-width : 768px and max-device-width : 1024px End

// // iPad Media Query - and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) Start
// @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
//   .top-header {
//     .navbar {
//       padding: 0;
//       .dropdown-item {
//         color: #212121 !important;
//         background-color: #fff;
//         font-size: 16px;
//         font-weight: normal;
//       }

//       .dropdown-item:active {
//         color: #212121 !important;
//         text-decoration: none;
//         background-color: #ffffff;
//       }
//     }

//     .dropdown-menu {
//       background-color: #fff;
//     }

//     .navbar-expand-lg .navbar-nav .brand-nav {
//       padding: 30px 20px;
//     }
//     .dropdown-toggle::after {
//       margin-left: 5em;
//     }
//   }
// }
// // iPad Media Query - and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) End
// @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
//   .top-header {
//     .navbar {
//       .header-logo {
//         position: absolute;
//         top: 50px;
//         box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
//       }
//     }
//     .navbar-expand-lg .navbar-nav .sub-link .nav-link {
//       padding: 24px 0 3px 0;
//       font-family: "CentraleSans-Normal";
//       color: #fff !important;
//       font-size: 16px;
//     }
//     .navbar-expand-lg .navbar-nav .active .brand-nav {
//       font-family: "CentraleSans-Normal";
//     }
//     .navbar {
//       a {
//         font-family: "CentraleSans-Normal";
//         color: #fff !important;
//         font-size: 16px;
//       }
//     }
//     .nav-item.dropdown {
//       .nav-link.link-mob {
//         padding-top: 20px;
//       }
//     }
//     .navbar-nav{
//       .menu-search {
//         a::after {
//           left: 14px;
//         }
//       }
//       .menu-search.active {
//         position: relative;
//         .navbar-search {
//           max-width: inherit;
//         }
//       }

//     }
//   }
// }
