@import 'src/assets/styles/mixins';
@import 'src/assets/styles/theme';

.page-title {
    line-height: 46px;
}

div.menu {
    left: unset;
    right: 0;
}

.dropdown {
    @include media-breakpoint-sm {
        margin: 0 !important;
    }

    &-menu {
        @include media-breakpoint-sm {
            margin-top: 0;
        }
    }

    &-toggle {
        @include media-breakpoint-sm {
            border: none;
        }

        &:active,
        &:focus {
            @include media-breakpoint-sm {
                border: none;
                box-shadow: none !important;
            }
        }
    }
    &-item {
        @include font-size-md();
        padding: 14px 42px;
        border-radius: 4px;
    }
}

.no-apps-message {
    @include font-size-md();
    text-align: center;
    flex-basis: 100%;
    @include media-breakpoint-sm() {
        margin-top: 2rem;
    }
}

.menu-button {
    width: 52px;
    min-width: 52px;
    height: 42px;
    padding: 0;
    border: 1px solid $info;
    @include media-breakpoint-sm {
        display: block;
        height: 20px;
    }

    &:not(.disabled):hover {
        background-color: unset;
    }

    &:not(.disabled):active {
        background-color: unset;
    }

    &.dropdown-toggle {
        background-color: unset;
    }

    &:after {
        display: none;
    }
}
