<div class="bg-container bg-s pb-7">
    <div class="container">
        <div class="row">
            <div class="col-md-12 py-4">
                <img src="https://drive.google.com/u/0/uc?id=1PBgcSG6CTGQiZD13s7feI_Dhup5viFNM&export=download"
                    alt="arrow-icon">
                <a href="#" class="font-m font-med pl-1">Back to App Store</a>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-auto">
                <img src="https://drive.google.com/u/0/uc?id=1Vki0NPL3WXQEgufLAgjvWXTmJKiLKTNO&export=download"
                    width="255" height="255" alt="app-icon">
            </div>
            <div class="col-md">
                <h4 class="mb-2">Application</h4>
                <a href="#" class="font-med">$11.99</a>
                <p class="text-secondary mt-2">Collaborate with teammates anytime, anywhere.</p>
                <oc-rating></oc-rating>
                <oc-button></oc-button>
            </div>
            <div class="col-md-auto">
                <img src="https://drive.google.com/u/0/uc?id=1ldLBzwIPzzo_WDe450-GDW8U4sYMwhHY&export=download"
                    width="380" height="255" alt="app-icon">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row my-8">
        <div class="col-md text-center">
            <img src="https://drive.google.com/u/0/uc?id=1kIVWdkrfTppvyQtkfdI7u32LWOKJKQK3&export=download" width="350"
                height="192" alt="icon">
            <p class="font-l font-med mt-2 mb-1">Collaborate from Anywhere</p>
            <span class="font-m">Send an email, text message, start a video call or create a new project thread all in
                real time</span>
        </div>
        <div class="col-md text-center">
            <img src="https://drive.google.com/u/0/uc?id=1-ta0MGkoGEXylNkweSiuy8zM_Vy6wYKU&export=download" width="350"
                height="192" alt="icon">
            <p class="font-l font-med mt-2 mb-1">Collaborate from Anywhere</p>
            <span class="font-m">Send an email, text message, start a video call or create a new project thread all in
                real time</span>
        </div>
        <div class="col-md text-center">
            <img src="https://drive.google.com/u/0/uc?id=1AbX9FAHY2E6PMrSqzBtyhNTBPNIDy-hs&export=download" width="350"
                height="192" alt="icon">
            <p class="font-l font-med mt-2 mb-1">Collaborate from Anywhere</p>
            <span class="font-m">Send an email, text message, start a video call or create a new project thread all in
                real time</span>
        </div>
    </div>

    <div class="row mb-8">
        <div class="col-md-8">
            <h4 class="mb-5">About</h4>
            <p class="text-secondary">
                With this Application you can collaborate with teammates at any time, from any where in the world. Send
                an email, text message, start a video call or create a new project thread all in real time. All of your
                conversations will automatically sync across every device. <br><br>
                Team administrators can create public or private threads, add or remove team members and even invite
                people from external organizations to collaborate on a project.
            </p>
            <a href="#" class="font-m font-med">Show full description</a>
        </div>
        <div class="col-md ml-8">
            <h4 class="mb-5">Support</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="https://drive.google.com/u/0/uc?id=19l_PmHX-o41r6i_iy6jM1tjFgpnTndxs&export=download"
                      class="pr-2"  alt="icon">F.A.Q.</li>
                <li class="list-group-item"><img src="https://drive.google.com/u/0/uc?id=15OqGirdDRuOu9fOrtJm22mDNZKfUvFpG&export=download"
                    class="pr-2"  alt="icon">Developer website</li>
                <li class="list-group-item"><img src="https://drive.google.com/u/0/uc?id=1HSmib71yx3xSlqZAxdS1lobMmLpKMedi&export=download"
                    class="pr-2"  alt="icon">Privacy Policy</li>
                <li class="list-group-item"><img src="https://drive.google.com/u/0/uc?id=1ZOT4RuSOtGgjgL_ayCym-J_wjnoMwtGZ&export=download"
                    class="pr-2"  alt="icon">support@application.com</li>
                <li class="list-group-item"><img src="https://drive.google.com/u/0/uc?id=1elm03rFroYXt0mCt_URMBQNRmDe1dTXP&export=download"
                    class="pr-2"  alt="icon">Support website</li>
            </ul>
        </div>
    </div>
</div>