<div class="checkout">
    <div class="bg-container height-unset">
        <app-page-title pageTitle="Checkout" navigateText="Back" (navigateClick)="goBack()"></app-page-title>
    </div>
    <div class="container">
        <div class="row checkout__container_margin">
            <div class="col-lg-7 mt-3 mt-lg-1 col-xxl-7">
                <app-billing-form
                        class="checkout__billing-form"
                        [goBackOnCancel]="true"
                        successButtonText="Buy now"
                        [shouldPurchase]="true"></app-billing-form>
            </div>
            <div class="col-lg-5 col-xxl-4">
                 <div class="checkout__app-info">
                     <div class="checkout__app-card">
                         <img class="checkout__app-card-image" [src]="app.icon" alt="app-icon">
                         <div class="checkout__app-card-details">
                             <span class="checkout__app-card-details-title">{{ app.name }}</span>
                             <p class="checkout__app-card-details-description">{{ app.summary || app.description }}</p>
                         </div>
                         <p class="checkout__app-card-price">{{ app.model[0] | price}}</p>
                     </div>
                     <div class="checkout__sum-details">
                         <div class="checkout__sum-details-row">
                             <span class="checkout__sum-details-row-text">Subtotal</span>
                             <span class="checkout__sum-details-row-text">$35.00</span>
                         </div>
                         <div class="checkout__sum-details-row">
                             <span class="checkout__sum-details-row-text">Tax</span>
                             <span class="checkout__sum-details-row-text">$5.00</span>
                         </div>
                     </div>
                     <div class="checkout__total">
                         <div class="checkout__total-row">
                             <span class="checkout__total-row-text">Total</span>
                             <p class="checkout__total-row-text checkout__total-row-text_thin">
                                 USD
                                 <span class="checkout__total-row-text checkout__total-row-text_bigger">$40.00</span>
                             </p>
                         </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
    <div class="mt-8"></div>
</div>
