@import '~assets/styles/theme';

.checkout {
    &__container {
        &_margin {
            margin-top: 8rem;
        }
    }

    &__app-info {
        width: 100%;
        background-color: $light;
        padding: 3rem;
    }
}
