@import "~oc-ng-common-component/assets/styles/theme.scss";

.color-create-app {
  background-color: #009957;
}

.color-apps-list {
  background-color:  $primary
}

.custom-button {
  background-color: red;
}
