@import '~@openchannel/angular-common-components/assets/styles/mixins';
@import 'src/assets/styles/mixins';

.bg-container {
    min-height: auto;
}

.active-link {
    color: #537cfd !important;
    @include font-medium();
}

ul.list-unstyled {
    @include media-breakpoint-lg {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    li {
        @include media-breakpoint-lg {
            white-space: nowrap;
        }

        & + li {
            @include media-breakpoint-lg {
                margin-left: 2rem;
            }
        }

        a {
            @include font-size-md();
            color: inherit;
            cursor: pointer;
            @include media-breakpoint-lg {
                @include font-medium();
                color: #999;
            }

            &.active-link {
                @include font-medium();
                @include media-breakpoint-lg {
                    color: #333 !important;
                    border-bottom: 3px solid #537cfd;
                    padding-bottom: 8px;
                }
            }
        }
    }
}

.page-title {
    line-height: 40px;
}

.button-container {
    width: 255px;
}
