<div class="bg-container height-unset">
    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center header-padding">
        <div>
            <img src="assets/img/arrow-left.svg" alt="arrow-icon">
            <a (click)="goBack()" class="font-m font-med pl-1 cursor-pointer link">Back</a>
            <h3 class="page-title page-title-size">{{selectedPage?.pageTitle}}</h3>
        </div>
        <div class="button-container">
            <oc-button *ngIf="selectedPage?.pageId === pages[1].pageId"
                       text="Invite a member" type="primary"
                       (click)="openInviteModal()"
                       [style]="'min-width: 100%'"></oc-button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row pt-5">
        <div class="col-md-3">
            <ul class="list-unstyled">
                <li *ngFor="let page of currentPages" class="py-1">
                    <a (click)="gotoPage(page)" class="font-m"
                       [ngClass]="{'active-link' : page.pageId === selectedPage.pageId}">{{page.placeholder}}</a>
                </li>
            </ul>
        </div>
        <div [ngSwitch]="selectedPage?.pageId" class="col-md-9 pt-1">
            <app-company-details *ngSwitchCase="pages[0].pageId"></app-company-details>
            <app-management #appManagement *ngSwitchCase="pages[1].pageId"></app-management>
        </div>
    </div>
</div>
<div class="mt-8"></div>
