<div class="bg-container height-unset">
    <app-page-title
        pageTitle="My company"
        navigateText="Back"
        (navigateClick)="goBack()"
        [buttonText]="selectedPage.pageId === pages[1].pageId && !isSSO ? 'Invite a member' : null"
        (buttonClick)="openInviteModal()"></app-page-title>
</div>

<div class="container">
    <div class="row pt-5">
        <div class="col-lg-2 col-xl-3 col-xxl-2">
            <ul class="list-unstyled pages-list">
                <li *ngFor="let page of currentPages" class="py-1 pages-list__item">
                    <a (click)="gotoPage(page)" [ngClass]="{ 'active-link': page.pageId === selectedPage.pageId }">
                        {{ page.placeholder }}
                    </a>
                </li>
            </ul>
        </div>
        <div [ngSwitch]="selectedPage.pageId" class="col-lg-10 col-xl-9 mt-3 mt-lg-0 col-xxl-10">
            <app-company-details *ngSwitchCase="pages[0].pageId"></app-company-details>
            <app-management #appManagement *ngSwitchCase="pages[1].pageId"></app-management>
        </div>
    </div>
</div>
<div class="mt-8"></div>
