<div class="container p-3 ">
    <!--    title with tabs -->
    <div class="d-flex flex-row flex-wrap justify-content-center">
        <h3 class="ml-3 flex-fill">
            <span class="mr-1 font-med ">{{currentTab?.display}} Apps</span>
            <span class="font-s color-light-gray text-truncate" *ngIf="this.getAvailableApps().length > 0">{{getTotalResultMessage()}}</span>
        </h3>
        <div class="d-flex flex-row flex-wrap justify-content-between">
            <div class="m-auto tab " *ngFor="let tab of tabs">
                <span *ngIf="tab.id === currentTab.id" class="ml-1 tab cursor-pointer current-tab color-green text-uppercase"
                      (click)="setNewApp(tab.id)">
                    {{tab.display}}</span>
                <span *ngIf="tab.id !== currentTab.id" class="ml-1 tab cursor-pointer text-uppercase"
                      (click)="setNewApp(tab.id)">
                    {{tab.display}}</span>
            </div>
        </div>
    </div>
    <!--    search  -->
    <hr class="m-0 mt-1">
    <div class="d-flex flex-row flex-nowrap align-items-center">
        <img class="ml-2 search-icon" src="assets/img/search-icon.svg" alt="search-icon">
        <input class="form-control border-0 pl-1"
               [(ngModel)]="searchText"
               name="searchText"
               placeholder="Search..."
               type="text"
               autocomplete="off"
        />
        <h6 class="m-auto text-right color-gray advanced-search-title text-nowrap cursor-pointer pr-2">Advanced Search</h6>
    </div>
    <hr class="m-0 mb-3">
    <!--    apps list -->
    <ng-template #appList>
        <div class="ml-2 mr-2 flex-column" *ngFor="let app of getAvailableApps(); let i = index">
            <hr *ngIf="i !== 0">
            <div class="d-flex flex-row flex-wrap align-items-center list-app-title">
                <div class="mr-2 d-flex justify-content-center align-items-center font-med
                text-uppercase cursor-pointer app-icon {{getBackgroundColor(app.status)}}">
                    {{app.name.charAt(0)}}
                </div>
                <div class="d-flex flex-column justify-content-between pt-1 pb-1">
                    <h6 class="cursor-pointer">{{app.name}}</h6>
                    <div class="d-flex flex-row flex-wrap justify-content-start font-weight-normal app-status color-gray">
                        <div class="d-flex flex-row flex-nowrap align-items-center cursor-pointer">
                            <div class="mr-1 sphere-marker {{getBackgroundColor(app.status)}}"></div>
                            <div class="mr-2">{{getStatusMessage(app.status)}}</div>
                        </div>
                        <div class="text-nowrap">Ver. {{app.version}}</div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <div *ngIf="currentTab.id === 'appTypes'; else appList">
        <app-app-types></app-app-types>
    </div>
</div>
