<div class="footer">
    <div class="container">
        <div class="footer-direction">
            <div class="company-logo">
                <img [src]="cmsData.logoImageURL" alt=" footer-logo" class="company-logo">
            </div>
            <div *ngFor="let column of cmsData.columnsDFA" class="info-column">
                <h2 class="info-column" [routerLink]="column.location || ''">{{column.label}}</h2>
                <ul class="list-unstyled">
                    <li *ngFor="let row of column?.items"><a [routerLink]="row.location || ''">{{row.label}}</a></li>
                </ul>
            </div>
            <div class="social-networks">
                <oc-social-links [socialLinks]="socialLinks"></oc-social-links>
            </div>
        </div>
        <p class="bottom-info">© 2020 Your company. All rights reserved.</p>
    </div>
</div>
