<div class="bg-container d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-7 py-7 px-4 text-center mx-auto">
                <h1>Your App Store Platform</h1>
                <p class="mb-4 text-secondary">A design template for implementing your app store with OpenChannel</p>
                <oc-text-searh></oc-text-searh>
            </div>
        </div>
        <oc-featured-apps *ngIf="isFeatured"
                          [data]="featuredApp"
                          label="Featured"></oc-featured-apps>
    </div>
</div>
<div class="container">
    <div class="pt-7 pb-5">
        <oc-app-galary [appsArr]="recentlyAddedApps"
                       seeAllUrl="https://google.com"
                       appGalaryTitle="Recently Added"
                       appGalaryDescription="The latest apps that help you and your team work and build faster">
        </oc-app-galary>
    </div>
    <oc-app-categories [data]="categories" categoryHeaderTitle="Categories to Explore">
    </oc-app-categories>
    <div class="pt-8 pb-5">
        <oc-app-galary [appsArr]="recentlyAddedApps" seeAllUrl="https://google.com"
                       appGalaryTitle="Most Popular"
                       appGalaryDescription="The most used apps that help you and your team get more done">
        </oc-app-galary>
    </div>

    <oc-app-galary [appsArr]="recentlyAddedApps" seeAllUrl="https://google.com"
        appGalaryTitle="Apps for Analytics"
        appGalaryDescription="Get insights and analytics to make the better decisions">
    </oc-app-galary>
</div>
<div class="bg-container bg-s mt-5 py-8 min-height-auto">
    <div class="container">
        <oc-app-get-started getStartedButtonText="Get Started as an App Developer"></oc-app-get-started>
    </div>
</div>
