.billing {
    &__actions {
        margin-top: 5rem;

        &-button {
            display: block;

            & + .billing__actions-button {
                margin-top: 2rem;
            }
        }
    }
}
