<div class="bg-container pt-sm-5">
    <oc-signup-custom
        class="signup-position"
        signupUrl="/signup"
        activationUrl="/activate"
        companyLogoUrl="./assets/img/company-logo-2x.png"
        forgotPasswordDoneUrl="./assets/img/forgot-password-complete-icon.svg"
        termsUrl="https://my.openchannel.io/terms-of-service"
        policyUrl="https://my.openchannel.io/data-processing-policy"
        headingInvitationText="Enter your account details below"
        [customFormTemplate]="isExpired ? expirationMsg: null"
        [showLoginLink]="false"
        [formConfigsLoading]="formConfigsLoading"
        [formConfigs]="formConfig"
        [process]="inProcess"
        [(showSignupFeedbackPage)]="showSignupFeedbackPage"
        (resultUserData)="submitForm($event)"></oc-signup-custom>
</div>

<ng-template #expirationMsg>
    <h5 class="text-primary p-3" *ngIf="isExpired">Sorry! Your invite token has been expired!</h5>
</ng-template>
