@import '~@openchannel/angular-common-components/assets/styles/theme';
@import '~@openchannel/angular-common-components/assets/styles/mixins';

.app-detail {
    &__back-link {
        display: flex;
        justify-content: space-between;
        padding: 5rem 0;
        @include media-breakpoint-md {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

        &-text {
            @include font-medium();
            @include font-size-md();
        }
    }

    &__data {
        display: flex;
        margin-bottom: 1rem;
        align-items: flex-start;
        @include media-breakpoint-lg {
            flex-direction: column;
        }

        .categories {
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;

            padding: 0;
            list-style: none;

            &__item {
                position: relative;

                margin-right: 16px;

                @include font-size-md();
                line-height: 16px;

                cursor: pointer;

                &::before {
                    content: '';

                    position: absolute;
                    top: 50%;
                    left: -8px;
                    transform: translate(-50%, -50%);

                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: #c9d5ea;

                    cursor: auto;
                    pointer-events: none;
                }
            }
        }

        &-description {
            display: flex;
            flex-grow: 1;
            padding-right: 2rem;
            @include media-breakpoint-md {
                padding-right: 0;
            }
            @include media-breakpoint-sm {
                flex-direction: column;
            }

            .app-detail__data-image {
                max-width: 245px;
                flex-shrink: 0;
                margin: 0 2rem 2rem 0;
                @include media-breakpoint-sm {
                    max-width: 100%;
                    width: 100%;
                    margin-right: 0;
                }

                img {
                    width: 100%;
                }
            }
        }

        &-support {
            &-title {
                font-size: 24px;
            }
        }
    }

    &__price {
        @include font-medium();
    }

    &__summary {
        word-break: break-word;
    }

    &__video {
        max-width: 380px;
        width: 100%;
        flex-shrink: 0;
        @include media-breakpoint-lg {
            max-width: 100%;
            margin-top: 2rem;
        }
    }
}

.list-group.list-group-flush {
    .list-group-item {
        @include font-medium();
        padding: 0 0 10px;
        border-width: 0;
        font-size: 14px;
    }
}

.support-link {
    cursor: pointer;
    color: $primary;
    @include font-size-md();
    @include font-medium();

    &:hover {
        color: $primary;
    }

    &:focus {
        border: 2px solid $focus-border;
        border-radius: 4px;
        text-decoration: underline;
        color: $primary;
    }

    &:active {
        color: mix($black, $primary, 10%);
        text-decoration: underline;
    }
}

.review-column {
    flex-grow: 1;
    @include media-breakpoint-sm {
        margin-top: 4rem;
    }
}

.close-icon {
    width: 16px;
    height: 16px;
    background-color: $secondary;
    -webkit-mask: url('~assets/img/close-icon.svg') no-repeat center;
    mask: url('~assets/img/close-icon.svg') no-repeat center;
}

.actions-container {
    display: flex;
    flex-wrap: wrap;
}

.action-button {
    display: block;
    margin-right: 2rem;
    margin-bottom: 2rem;
    max-width: 160px;
    @include media-breakpoint-md {
        max-width: 100%;
        width: 100%;
    }
}

.container_custom {
    @include media-breakpoint-md {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.filter-container{
    @media (max-width: 400px) {
        text-align: center
    }
}
