@import "~oc-ng-common-component/assets/styles/theme.scss";

.list-group.list-group-flush {
  .list-group-item {
    padding: 0 0 10px;
    border-width: 0;
    font-size: 14px;
    font-family: "Rubik-Medium";
  }
}

.review-column {
  flex-grow: 1;
}

.close-icon {
  width: 16px;
  height: 16px;
  background-color: $secondary;
  -webkit-mask: url("~assets/img/close-icon.svg") no-repeat center;
  mask: url("~assets/img/close-icon.svg") no-repeat center;
}
