<app-loader></app-loader>
<div *ngIf="appData$ | async">
    <div class="bg-container bg bg-s pb-7">
        <div class="container">
            <div class="row">
                <div class="col-md-12 py-4">
                    <img src="./assets/img/arrow-left.svg"
                         alt="arrow-icon">
                    <a routerLink="/app-store" class="font-m font-med pl-1">Back to App Store</a>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-sm-10 d-flex flex-column flex-md-row p-0">
                    <div class="col-md-auto mb-2 app-logo" *ngIf="app.logo">
                        <img [src]="app.logo"
                             alt="app-icon">
                    </div>
                    <div class="col-md-6 d-flex flex-column">
                        <h4 class="mb-2">{{ app.name }}</h4>
                        <a href="#" class="font-med" (click)="$event.preventDefault()">{{ app.model[0] | price}}</a>
                        <p class="text-secondary mt-2">{{ app.summary }}</p>
                        <oc-rating class="mb-2" [rating]="app.rating / 100" [reviewCount]="app.reviewCount"
                                   label="reviews" labelClass="font-med" type="single-star"></oc-rating>
                        <oc-button type="primary" text="Buy Now"></oc-button>
                    </div>
                </div>
                <oc-video *ngIf="app.video" [videoUrl]="app.video" class="col-sm-2 mt-2 mt-sm-0"></oc-video>
            </div>
        </div>
    </div>
    <div class="container">
        <oc-image-gallery *ngIf="app.gallery && app.gallery.length > 0"
                          [gallery]="app.gallery"
                          class="mt-8"></oc-image-gallery>

        <div class="row mb-8 mt-8">
            <oc-app-description  class="col-md-8"
                        [appDescription]="app.description"
                        header="About"
                        expandDescriptionText="Show full description"></oc-app-description>
            <div class="col-md ml-md-8 mt-2 mt-md-0">
                <h4 class="mb-5">Support</h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <img src="https://drive.google.com/u/0/uc?id=19l_PmHX-o41r6i_iy6jM1tjFgpnTndxs&export=download"
                             class="pr-2" alt="icon">
                        <a class="font-m font-med black-link" [href]="app.customData['terms-of-service-url']">F.A.Q.</a>
                    </li>
                    <li class="list-group-item"><img
                            src="https://drive.google.com/u/0/uc?id=15OqGirdDRuOu9fOrtJm22mDNZKfUvFpG&export=download"
                            class="pr-2" alt="icon">
                        <a class="font-m font-med black-link" [href]="app.customData['website-url']">Developer website</a>
                    </li>
                    <li class="list-group-item"><img
                            src="https://drive.google.com/u/0/uc?id=1HSmib71yx3xSlqZAxdS1lobMmLpKMedi&export=download"
                            class="pr-2" alt="icon">
                        <a class="font-m font-med black-link" [href]="app.customData['terms-of-service-url']">Privacy Policy</a>
                    </li>
                    <li class="list-group-item"><img
                            src="https://drive.google.com/u/0/uc?id=1ZOT4RuSOtGgjgL_ayCym-J_wjnoMwtGZ&export=download"
                            class="pr-2" alt="icon">{{app.customData['contact-email']}}
                    </li>
                    <li class="list-group-item"><img
                            src="https://drive.google.com/u/0/uc?id=1elm03rFroYXt0mCt_URMBQNRmDe1dTXP&export=download"
                            class="pr-2" alt="icon">
                        <a class="font-m font-med black-link" [href]="app.customData['support-url']">Support website</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="d-flex flex-wrap flex-md-nowrap">
            <div class="rating-column">
                <oc-overall-rating [allReviewSummary]="overallRating"></oc-overall-rating>
            </div>
            <div class="review-column">
                <oc-review-list [reviewsList]="reviewsPage?.list"
                                [totalReview]="reviewsPage?.count"
                                reviewListTitle="Most recent reviews">
                    <div>
                        <oc-dropdown [options]="reviewsSorts"
                                     [selected]="selectedSort"
                                     (selectedChange)="onReviewSortChange($event)"
                                     class="mr-5"></oc-dropdown>
                        <oc-dropdown [options]="reviewsFilter"
                                     title="Show"
                                     (selectedChange)="onReviewFilterChange($event)"
                                     [selected]="selectedFilter"></oc-dropdown>
                    </div>
                </oc-review-list>
            </div>
        </div>
    </div>
    <div class="bg-container mt-5 py-8 min-height-auto" *ngIf="recommendedApps">
        <div class="container">
            <oc-recommended-apps recommendedAppTitle="Recommended For You"
                                 [appList]="recommendedApps"
                                 appsMainLink="/app-detail/"></oc-recommended-apps>
        </div>
    </div>
</div>
