@import '~oc-ng-common-component/assets/styles/theme';
@import '~oc-ng-common-component/assets/styles/mixins';

.app-detail {
  &__back-link {
    @include media-breakpoint-md {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    display: flex;
    justify-content: space-between;
    padding: 5rem 0;
  }
}


.list-group.list-group-flush {
  .list-group-item {
    @include font-family-rubik('Medium');
    padding: 0 0 10px;
    border-width: 0;
    font-size: 14px;
  }
}

.support-link {
  cursor: pointer;
  color: $primary;
  &:hover {
    color: $primary;
  }
  &:focus {
    border: 2px solid $focus-border;
    border-radius: 4px;
    text-decoration: underline;
    color:$primary;
  }
  &:active {
    color: mix($black, $primary, 10%);
    text-decoration: underline;
  }
}

.review-column {
  @include media-breakpoint-sm {
    margin-top: 4rem;
  }
  flex-grow: 1;
}

.close-icon {
  width: 16px;
  height: 16px;
  background-color: $secondary;
  -webkit-mask: url("~assets/img/close-icon.svg") no-repeat center;
  mask: url("~assets/img/close-icon.svg") no-repeat center;
}

.actions-container {
  display: flex;
  flex-wrap: wrap;
}

.action-button {
  @include media-breakpoint-md {
    max-width: 100%;
    width: 100%;
  }
  display: block;
  margin-right: 2rem;
  margin-bottom: 2rem;
  max-width: 160px;
}

.container_custom {
  @include media-breakpoint-md {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
