<footer class="container">
    <div class="row">
        <div class="col-12 col-md-5">
            <img src="assets/img/logo-company.png" alt=" footer-logo" class="company-logo">
        </div>
        <div class="col-6 col-md">
            <h5>Browse</h5>
            <ul class="list-unstyled">
                <li><a href="#">Most Popular </a></li>
                <li><a href="#">Essential Apps </a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Developers</h5>
            <ul class="list-unstyled">
                <li><a href="#">Documentation </a></li>
                <li><a href="#">Getting Started </a></li>
                <li><a href="#">API Reference </a></li>
                <li><a href="#">Sample Code </a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Company</h5>
            <ul class="list-unstyled">
                <li><a href="#">Contact Us </a></li>
                <li><a href="#">Blog </a></li>
            </ul>
        </div>
        <div class="col-12 col-md pl-0 text-right">
            <img src="assets/img/facebook-icon.svg" class="pr-2"
                alt="social-media-icon">
            <img src="assets/img/twitter-icon.svg"
                alt="social-media-icon">
        </div>
    </div>
</footer>