@import '~assets/styles/mixins';
@import '~assets/styles/theme';

.billing {

    &__header {
        @include font-size-lg();
        margin-bottom: 2rem;
    }

    &__credit-card-form {
        margin-bottom: 3rem;

        &-group {
            margin-bottom: 3rem;
        }

        &-label {
            display: block;
            margin-bottom: 1rem;
        }

        &-input {
            &_hidden {
                display: none;
            }
            display: block;
        }

        #cvc-element {
            margin-bottom: 0;
        }

        &-row {
            display: flex;
            justify-content: space-between;

            &-expiration {
                width: 50%;
                &-group {
                    position: relative;
                }
            }

            &-cvc {
                width: 45%;
            }
        }

        &-error {
            font-size: 12px;
            color: $danger;
            display: block;
            margin-top: 6px;
        }

        &-expiration-svg {
            display: block;
            position: absolute;
            right: 16px;
            bottom: calc(3rem - 12px);
        }

        .StripeElement {
            @include form-control($info, $primary, $input-placeholder-color);

            &--focus {
                border-color: $primary;
                box-shadow: none;
                outline: none;
            }

            &--invalid {
                border-color: $danger;
                color: $body-color;
            }
        }
    }

    &__address {
        margin-top: 4rem;

        &-form {

            &-label {
                display: block;
                line-height: 18px;
                margin-bottom: 1rem;

                &_disabled {
                    opacity: .5;
                }
            }

            &-field {

                & + .billing__address-form-field {
                    margin-top: 2rem;
                }
            }
        }
    }

    &__actions {
        margin-top: 5rem;

        &-button {
            display: block;

            &_margin-top {
                margin-top: 2rem;
            }
        }
    }
}
