<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="assets/img/logo-company.png" alt="brand-logo" class="company-logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav justify-content-end w-100 mb-0">
                <li class="nav-item"
                    [ngClass]="{
                    active: router.isActive('/app/store', true) || router.isActive('/', true)
                  }"
                >
                    <a class="nav-link" [routerLink]="'/app/store'">Browse <span class="sr-only">(current)</span></a>
                </li>
<!--                <li class="nav-item" [ngClass]="{-->
<!--                    active: router.url.includes('app-developer')-->
<!--                  }">-->
<!--                    <a class="nav-link" [routerLink]="'/app-developer'">Manage</a>-->
<!--                </li>-->
                <li class="nav-item"
                    *ngIf="userName"
                    [ngClass]="{active: router.url.includes('app-list')}">
                    <a class="nav-link" [routerLink]="'/app-list'">Apps</a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0 button-section ml-0 ml-lg-4">
                <div class="form-inline my-2 my-lg-0 ml-0 ml-lg-4" *ngIf="this.userName != null">
                    <div class="profile text-primary">{{initials}}</div>
                    <div class="nav-item dropdown" ngbDropdown placement="left">
                        <div class="dropdown-toggle pr-0 d-flex align-items-center" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                            <div class="d-flex flex-column mr-1">
                                <span class="font-m font-med text-dark">{{authHolderService.getUserName()}}</span>
                                <span class="font-s text-muted">{{authHolderService.userDetails.roleLabel}}</span>
                            </div>
                        </div>
                        <div ngbDropdownMenu aria-labelledby="navbarDropdown" class="mt-2"
                             *ngIf="authHolderService.isLoggedInUser()">
                            <div class="dropdown-item" *ngIf="!isSSO"
                               routerLink="/management/profile">My Profile</div>
                            <div class="dropdown-item"
                               *ngIf="authHolderService.userDetails.role === 'ADMIN'"
                               routerLink="/management/company">My Organization</div>
                            <div class="dropdown-item cursor-pointer" (click)="logout()">Logout</div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!userName">
                    <button class="btn header-login-btn header-btn mr-2" routerLink="/login">Log in</button>
                    <button class="btn btn-primary header-btn" routerLink="/signup">Sign up</button>
                </div>
            </div>
        </div>
    </div>
</nav>
