.navbar {
  padding: 0 1rem;
  border-bottom: 1px solid rgba(201, 213, 234, 0.5);
}
.navbar-light .navbar-nav .nav-item.active > .nav-link {
  opacity: 1;
  border-bottom: 3px solid #537cfd;
  padding-bottom: 25px;
}
.navbar-light .navbar-nav .nav-item .nav-link {
  opacity: 0.5;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-item.dropdown .nav-link {
  opacity: 1;
  padding: 28px 20px;
  font-size: 14px;
  color: #333333;
  font-family: "Rubik-Medium";
}

li.nav-item.dropdown:hover{
  .dropdown-menu{
    display: block;
  }
}

.header-btn {
  width: 87px;
  min-width: unset;
  height: 40px;
  min-height: unset;
  padding: 0;
}

.button-section {
  min-width: 190px;
}
