@import "~@openchannel/angular-common-components/assets/styles/theme";
@import "~@openchannel/angular-common-components/assets/styles/mixins";
@import "../../../../assets/styles/mixins";

.navbar {
    padding: 0;
    border-bottom: 1px solid rgba(201, 213, 234, 0.5);

    .container {

        .navbar-wrapper {
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-grow: 1;
        }
    }
}

.navbar-light .navbar-nav .nav-item.active > .nav-link {
    opacity: 1;
    border-bottom: 3px solid $primary;
    padding-bottom: 27px;
}

.navbar-light .navbar-toggler {
    border: none;
}

.navbar-light .navbar-nav .nav-item .nav-link {
    opacity: 0.5;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-item.dropdown .nav-link {
    opacity: 1;
    padding: 30px 0;
    font-size: 14px;
    color: #333333;
    margin-left: 48px;
    @include font-medium();
}

.header-btn {
    width: 87px;
    min-width: unset;
    height: 40px;
    line-height: 40px;
    min-height: unset;
    padding: 0;
    border-radius: 4px;
    font-size: 14px;
    @include font-medium();
}

.btn-primary {

    &:hover {
        box-shadow: 1px 5px 30px 0 rgba(83, 124, 253, 0.5);
    }
}

a:hover {
    text-decoration: none;
}

.collaps-none {
    display: none;
}

.collaps-items {
    display: none;
}

.rotate-img {

    svg {
        transform: rotate(180deg);
    }
}

.change-icon-color {

    .recolor-icon {
        fill: rgba(51, 51, 51, 0.5);
    }
}

.close-icon {
    background-image: url(../../../../assets/img/close-icon.svg);
}

.navbar-icon {
    width: 16px;
    height: 16px;
    background-image: url(../../../../assets/img/navbar-menu.svg);
}

@include media-breakpoint-md() {

    .navbar {

        .container {
            max-width: 100%;

            .navbar-collapse {
                height: 100vh;
            }

            .navbar-wrapper {
                padding: 0 24px 0 24px;
            }
        }
    }

    .navbar-light .navbar-nav .nav-item.active > .nav-link {
        border-bottom: none;
        border-left: 3px solid $primary;
        padding-bottom: 10px;
        padding-left: 30px;
        margin: 8px 0;
    }

    .navbar-light .navbar-nav .nav-link,
    .navbar-light .navbar-nav .nav-item.dropdown .nav-link {
        font-size: 16px;
        padding: 10px 32px;
        margin: 8px 0;
    }

    .header-btn {
        width: 256px;
        height: 52px;
        margin-bottom: 16px;
        line-height: 52px;
    }

    .auth-button {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar-none {
        display: none;
    }

    .collaps-none {
        display: flex;
    }

    .collaps-items {
        display: block;
    }
}
