@import "~oc-ng-common-component/assets/styles/theme.scss";

.navbar {
  padding: 0 1rem;
  border-bottom: 1px solid rgba(201, 213, 234, 0.5);
  .container {
    height: 80px;
  }
}
.navbar-light .navbar-nav .nav-item.active > .nav-link {
  opacity: 1;
  border-bottom: 3px solid $primary;
  padding-bottom: 30px;
}
.navbar-light .navbar-nav .nav-item .nav-link {
  opacity: 0.5;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-item.dropdown .nav-link {
  opacity: 1;
  padding: 28px 20px;
  font-size: 14px;
  color: #333333;
  font-family: "Rubik-Medium";
}

.header-btn {
  width: 87px;
  min-width: unset;
  height: 40px;
  min-height: unset;
  padding: 0;
  border-radius: 4px;
  font-size: 14px;
  font-family: Rubik-Medium;
}

.btn-primary {
  &:hover {
    box-shadow: 1px 5px 30px 0 rgba(83, 124, 253, 0.5);
  }
}

a:hover {
  text-decoration: none;
}
