<nav class="navbar navbar-expand-md navbar-light bg-white">
    <div class="container">
        <div class="navbar-wrapper">
            <a class="navbar-brand" href="/">
                <img src="assets/img/logo-company.png" alt="brand-logo" class="company-logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    (click)="isCollapsed = !isCollapsed">
                <div class="cursor-pointer" [ngClass]="{'navbar-icon': isCollapsed,'close-icon': !isCollapsed}">
                </div>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"
             [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav justify-content-end w-100 mb-0">
                <li class="nav-item"
                    [ngClass]="{active: router.isActive('', true) || router.isActive('/', true)}">
                    <a routerLink=""
                       (click)="closedMenu()" class="nav-link cursor-pointer">Browse
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item"
                    *ngIf="authHolderService.isLoggedInUser()"
                    [class.active]="checkIncludesUrl('/management/apps')">
                    <a routerLink="/management/apps"
                       (click)="closedMenu()" class="nav-link cursor-pointer">My apps</a>
                </li>

                <li class="nav-item collaps-none justify-content-between align-items-center"
                    *ngIf="authHolderService.isLoggedInUser()"
                    [class.active]="checkIncludesUrl('/management/profile', '/management/company')"
                    (click)="isMenuCollapsed = !isMenuCollapsed"
                    data-target="#collapsMoreContent"
                    aria-controls="collapsMoreContent">
                    <a class="nav-link cursor-pointer">More</a>
                    <div class="pr-3">
                        <svg-icon src="./assets/img/select-down.svg"
                                  [class.rotate-img]="!isMenuCollapsed"
                                  [svgClass]="checkIncludesUrl('/management/profile', '/management/company')? '':'change-icon-color'">
                        </svg-icon>
                    </div>
                </li>
            </ul>

            <div class="collaps-items">
                <div [ngbCollapse]="isMenuCollapsed" id="collapsMoreContent" class="collapse">
                    <ul class="navbar-nav ml-5">
                        <li class="nav-item">
                            <a *ngIf="!isSSO"
                               class="nav-link cursor-pointer"
                               routerLink="/management/profile"
                               (click)="closedMenu()">My Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link cursor-pointer"
                               routerLink="/management/company"
                               (click)="closedMenu()"
                               [appPermissions]="companyPermissions">My Company</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link cursor-pointer" (click)="logout()">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="my-2 my-lg-0 ml-md-6 navbar-none" *ngIf="authHolderService.isLoggedInUser()">
                <oc-profile-navbar username="More">
                    <ng-container>
                        <div class="dropdown-item cursor-pointer" *ngIf="!isSSO"
                             routerLink="/management/profile">My Profile</div>
                        <div [appPermissions]="companyPermissions" class="dropdown-item cursor-pointer"
                             routerLink="/management/company">My Company</div>
                        <div class="dropdown-item cursor-pointer" (click)="logout()">Logout</div>
                    </ng-container>
                </oc-profile-navbar>
            </div>
            <div class="d-flex my-2 my-lg-0 ml-0 ml-lg-4 auth-button" *ngIf="!authHolderService.isLoggedInUser()">
                <button class="btn header-login-btn header-btn" (click)="login()">Log in</button>
                <button class="btn btn-primary header-btn ml-md-2" routerLink="/signup" *ngIf="!isSsoConfigExist">Sign up</button>
            </div>
        </div>
    </div>
</nav>
