<div class="forms-container" [ngClass]="expand? 'table-opened' : 'table-collapsed'">
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let submission of submissionsData; trackBy:trackBySubmId"
        (click)="openSubmissionModal(submission?.formSubmissionId)" class="cursor-pointer">
      <td>{{submission?.name ? submission?.name : '--'}}</td>
      <td>
        {{submission?.submittedDate ?
          (submission?.submittedDate | date: 'dd LLL, yyyy @ H:mm' )
          : '--'}}
      </td>
      <td>{{submission?.email ? submission?.email : '--'}}</td>
    </tr>
    </tbody>
  </table>
</div>
