<div>
  <div class="px-3 py-2 d-flex align-items-center" [ngClass]="modalTitle ? 'modal-header' : ''">
    <h3 *ngIf="modalTitle" class="modal-title text-center w-100 mb-0" id="modal-basic-title">{{modalTitle}}</h3>
    <img src="./assets/img/close-icon.svg" class="cursor-pointer close-icon" (click)="closeModal()">
  </div>
  <div class="modal-body p-4">
    <oc-form [formJsonData]="formData"
             (createdForm)="onFormCreated($event)"
             [showButton]="false"></oc-form>
    <div class="mt-4 d-flex flex-column-reverse flex-sm-row justify-content-sm-between">
      <oc-button class="confirm-modal-button mt-1 mt-sm-0"
                 [class]="'w-100'"
                 text="Cancel"
                 type="secondary"
                 (click)="closeModal()"></oc-button>
      <oc-button class="confirm-modal-button"
                 (click)="onSubmit()"
                 [class]="'w-100'"
                 type="primary"
                 text="Send"></oc-button>
    </div>
  </div>
</div>
