<div>
  <div class="modal-header p-3" *ngIf="modalTitle">
    <h4 class="modal-title text-center w-100 mb-0" id="modal-basic-title">{{modalTitle}}</h4>
    <img src="./assets/img/close-icon.svg" class="cursor-pointer" (click)="closeModal()">
  </div>
  <div class="modal-body p-5">
    <oc-form [formJsonData]="formData"
             (createdForm)="onFormCreated($event)"
             [showButton]="false"
             (formSubmitted)="sendFormData($event)"></oc-form>
    <div class="d-flex justify-content-center">
      <oc-button class="confirm-modal-button mr-2"
                 (click)="onSubmit()"
                 [class]="'w-100'"
                 text="Send"></oc-button>
      <oc-button class="confirm-modal-button"
                 [class]="'w-100'"
                 text="Cancel"
                 type="secondary"
                 (click)="closeModal()"></oc-button>
    </div>
  </div>
</div>
