<ngb-toast
  *ngFor="let message of notificationService.errors"
  header="Errors"
  class="notification notification-error"
  [autohide]="true"
  delay="5000"
  (hide)="hideErrors()"
>
  <li *ngFor="let keyvalue of message | keyvalue">{{ keyvalue.value }}</li>
  <div class="toast-footer">    
    <oc-button [type]="'link'" [text]="'Dismiss'" (click)="hideErrors()"></oc-button>
  </div>
</ngb-toast>

<ngb-toast
  *ngIf="notificationService.fieldErrors.length != 0"
  header="Errors"
  class="notification notification-error"
  [autohide]="true"
  delay="5000"
  (hide)="hideFieldErrors()"
>
  <li *ngFor="let fieldError of notificationService.fieldErrors">
    {{ fieldError.message }}
  </li>
  <div class="toast-footer">
    <oc-button [type]="'link'" [text]="'Dismiss'" (click)="hideFieldErrors()"></oc-button>
  </div>
</ngb-toast>

<ngb-toast
  *ngFor="let message of notificationService.messages"
  header="{{message.title ? message.title :'Success'}}"
  class="notification notification-success"
  [autohide]="true"
  delay="5000"
  (hide)="hideSuccessMessage()"
>
  <li [innerHTML]="message.message"></li>
  <div class="toast-footer">
    <oc-button [type]="'link'" [text]="'Dismiss'" (click)="hideSuccessMessage()"></oc-button>
  </div>
</ngb-toast>

<!--
<ngb-toast
  *ngFor="let message of notificationService.messages"
  header="Information"
  class="notification-info"
  [autohide]="false"
  delay="5000"
  (hide)="hideSuccessMessage()"
>
  <li *ngFor="let keyvalue of message | keyvalue">{{ keyvalue.value }}</li>
  <div class="footer-toast">
    <button (click)="hideSuccessMessage()" class="btn link-btn">Dismiss</button>
  </div>
</ngb-toast>

<ngb-toast
  *ngFor="let message of notificationService.messages"
  header="Text"
  class="notification-text"
  [autohide]="false"
  delay="5000"
  (hide)="hideSuccessMessage()"
>
  <li *ngFor="let keyvalue of message | keyvalue">{{ keyvalue.value }}</li>
  <div class="footer-toast">
  <button (click)="hideSuccessMessage()" class="btn link-btn">Dismiss</button>
</div>
</ngb-toast>
-->
