/* Absolute Center Spinner */
.oc-loader {
  position: fixed;
  z-index: 999;
  height: 24px;
  width: 24px;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
//  background-color: blue;
}

.oc-loader.left-menu {
  left: 184px; // left - width of left menu, to make it appear in center of content
}

.oc-loader.filter-menu {
  left: 294px; // left - width of left menu, to make it appear in center of content
}

@media (max-width: 768px) {
    .oc-loader {
      left: 0; // left - width of left menu, to make it appear in center of content
    }
    .oc-loader.left-menu,
    .oc-loader.filter-menu {
      left: 0;
    }
}