<div class="bg-container pt-5">
    <oc-signup (submit)="signup($event)"
               [signupModel]="signupModel"
               [loginUrl]="loginUrl"
               [signupUrl]="signupUrl"
               [companyLogoUrl]="companyLogoUrl"
               [showSignupFeedbackPage]="showSignupFeedbackPage"
               [termsUrl]="termsAndConditionPageUrl"
               [policyUrl]="dataProcessingPolicyUrl"
               [process]="inProcess"
               [withCompany]="true"
               [forgotPasswordDoneUrl]="forgotPasswordDoneIconPath"></oc-signup>
</div>
