@import "assets/styles/fonts";
@import "assets/styles/mixins";
@import "~@openchannel/angular-common-components/assets/styles/styles";

$link-gray: #333333;
$category-color-mix1: #ff0606;
$category-color-mix2: #ffffff;

.bg-container {
    width: 100%;
    min-height: 100vh;
    background: url(./assets/img/container-bg.svg) center center no-repeat;
    background-size: cover;
}

.bg-container.height-unset {
    min-height: unset;
}

.bg-container.bg-s {
    min-height: 100%;
}

.container.container-s {
    width: 730px;
    margin: 0 auto;
}

.header-divider {
    border-top: 1px solid rgba(83, 124, 253, 0.2);
}

/** Froala Editor **/

.fr-box {

    .second-toolbar {
        border-bottom: 0;
    }
}

.fr-toolbar {
    border: 1px solid $info !important;
}

.fr-toolbar.fr-top {
    border-bottom: 0 !important;
    border-radius: 4px 4px 0 0 !important;
    -moz-border-radius: 4px 4px 0 0 !important;
    -webkit-border-radius: 4px 4px 0 0 !important;

    .fr-newline {
        height: 0;
    }
}

.fr-box.fr-basic {
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    height: 248px;

    .fr-wrapper {
        border: 1px solid $info;
        height: 196px;
        border-bottom-left-radius: 0.25em;
        border-bottom-right-radius: 0.25em;
    }
}

.fr-box.fr-basic .fr-wrapper {
    border: 1px solid $info !important;
    border-bottom-color: $info !important;
}

.fr-box.fr-basic .fr-element {
    font-family: 'Rubik Regular', sans-serif !important;
    padding: 16px !important;
    height: 100%;

    * {
        font-size: 14px;
    }
}

/** End Froala Editor **/

// Dropdown menu style

.dropdown-menu {
    padding: 0;
    min-width: 136px;
    border: 1px solid #c9d5ea;
    top: 70px;
    left: -28px;

    .dropdown-item {
        font-size: 14px;
        padding: 14px 16px;
        border-bottom: 1px solid #c9d5ea;
    }

    .dropdown-item:hover,
    .dropdown-item:focus {
        background-color: rgba(201, 213, 234, 0.1);
        color: #537cfd;
    }

    .dropdown-item:active {
        color: #537cfd;
        box-shadow: 0 1px 0 #c9d5ea;
    }
}

.oc-dropdown-toggle {

    .dropdown-toggle.btn-secondary {
        border-radius: 4px;
        color: #333333 !important;
        font-size: 14px;
        min-height: 50px !important;
        text-align: left;
        margin-left: 12px;
        width: 247px;
        padding-left: 16px;
    }

    .dropdown-toggle.btn-secondary[aria-expanded="true"] {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .dropdown-toggle::after {
        display: none;
    }

    .dropdown-toggle[aria-expanded="true"]::before {
        content: url(/assets/img/select-up.svg);
        height: 6px;
        width: 10px;
        margin-top: -2px;
        float: right;
    }

    .dropdown-toggle[aria-expanded="false"]::before {
        content: url(/assets/img/select-down.svg);
        height: 6px;
        width: 10px;
        margin-top: -2px;
        float: right;
    }

    .dropdown-menu {
        min-width: 247px;
        top: -2px !important;
        border-top: 0;
        border-bottom: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        .dropdown-item {
            background-color: rgba(201, 213, 234, 0.1);
        }

        .dropdown-item:last-child {
            border-bottom-right-radius: 0.25em;
            border-bottom-left-radius: 0.25em;
        }
    }
}

button:focus {
    outline: none !important;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.forms-container {
    border: 1px solid #c9d5ea;
    border-radius: 4px;

    &-title {
        border-bottom: 1px solid #c9d5ea;
    }
}

.black-link {
    color: $link-gray !important;
}

.min-height-auto {
    min-height: auto;
}

.get-dev {

    &__container {
        background-color: $light;
        height: 298px;
        margin-top: 82px;
    }
}

.app-logo {
    @include media-breakpoint-down(xs) {
        img {
            width: 100%;
            height: auto;
        }
    }
}

.rating-column {
    width: 255px;
    margin-right: 150px;
    @include media-breakpoint-sm {
        margin-bottom: 1rem;
        margin-top: 7rem;
        margin-right: 0;
        padding: 0 2rem;
        width: 100%;
    }
}

/** Toast styles */

.toast-message {
    font-size: 12px;
}

.toast-container div.ngx-toastr {
    padding: 16px 24px 16px 48px;
    background-position: 24px center;
    background-size: 12px;
}

.header-login-btn {
    border: 1px solid $info;
    color: $primary;

    &:hover {
        box-shadow: 1px 5px 30px 0 rgba(201, 213, 234, 0.5);
    }
}

.close-icon {
    width: 16px;
    height: 16px;
}

.page-title-size {
    font-size: 28px;
    @include media-breakpoint-md {
        font-size: 24px;
    }
}

.header-padding {
    padding-top: 20px;
    padding-bottom: 16px;
}

.custom-loader {

    .ngx-bar {
        background-color: $primary !important;
    }
}

// modals - start

@media (min-width: 730px) {
    .modal-dialog {
        max-width: 750px;
    }
}

.modal-sm {
    max-width: 410px;
    margin-top: 145px;
    @include media-breakpoint-sm() {
        max-width: 100%;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

.modal-md {
    max-width: 700px;
    margin-top: 145px;
    @include media-breakpoint-sm() {
        max-width: 100%;
    }
}

.modal.fade .modal-dialog {
    background-color: unset;
    transition: none;
}

.modal-backdrop {
    transition: background-color 0.3s;
    background-color: #717486;
}

.modal-content {
    border: none;
}

// modals - end

.button-255 {
    width: 255px;

    & button {
        width: 100%;
    }
}

app-not-found header {
    box-shadow: inset 0 -1px 0 0 rgba($primary, 0.2);
}
