@import "~oc-ng-common-component/assets/styles/styles.scss";
.bg-container {
  width: 100%;
  min-height: 100vh;
  background: url(assets/img/container-bg.svg) center center no-repeat;
  background-size: cover;
  //border-top: 1px solid rgb(201 213 234 / 0.5);
}
.bg-container.bg-s {
  min-height: 100%;
}
.container.container-s {
  width: 730px;
  margin: 0 auto;
}
.header-divider {
  border-top: 1px solid rgba(83, 124, 253, 0.2);
  // box-shadow: 0px -1px 0 2px rgba(83, 124, 253, 0.2);
}


/** Flora Editor **/
.fr-box{
  .second-toolbar{
    border-bottom:0px;
  }
}
.fr-toolbar {
  border: 1px solid $info !important;
}
.fr-toolbar.fr-top {
  border-bottom: 0px !important;
  border-radius: 4px 4px 0 0 !important;
  -moz-border-radius: 4px 4px 0 0 !important;
  -webkit-border-radius: 4px 4px 0 0 !important;
  .fr-newline{
    height: 0px;
  }
}
.fr-box.fr-basic {
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  height: 248px;
  .fr-wrapper {
    border: 1px solid $info;
    height: 196px;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
  }
}
.fr-box.fr-basic .fr-wrapper {
  border: 1px solid $info !important;
  border-bottom-color: $info !important;
  // border-radius: 0 0 4px 4px;
}
.fr-box.fr-basic .fr-element {
  font-family: "Rubik Regular" !important;
  padding: 16px !important;
  height: 100%;
  *{
    font-size: 14px;
  }
}
/** End Flora Editor **/

// Dropdown menu style
.dropdown-menu {
  top: 48px;
  padding: 0;
  min-width: 136px;
  border: 1px solid #c9d5ea;
  top: 70px;
  left: -28px;
  .dropdown-item {
    font-size: 14px;
    padding: 14px 16px;
    border-bottom: 1px solid #c9d5ea;
  }
  .dropdown-item:hover,
  .dropdown-item:focus {
    background-color: rgba(201, 213, 234, 0.1);
    color: #537cfd;
    // box-shadow: 0px 1px 0 #c9d5ea;
  }
  .dropdown-item:active {
    color: #537cfd;
    box-shadow: 0px 1px 0 #c9d5ea;
  }
}

.oc-dropdown-toggle{
  .dropdown-toggle.btn-secondary {
    border-radius: 4px;
    color: #333333 !important;
    font-size: 14px;
    min-height: 50px !important;
    text-align: left;
    margin-left: 12px;
    width: 247px;
    padding-left: 16px;
  }
  .dropdown-toggle.btn-secondary[aria-expanded="true"]{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .dropdown-toggle::after {
    display: none;
  }
  .dropdown-toggle[aria-expanded="true"]::before {
    content: url(/assets/img/select-up.svg);
    height: 6px;
    width: 10px;
    margin-top: -2px;
    float: right;
  }
  .dropdown-toggle[aria-expanded="false"]::before {
    content: url(/assets/img/select-down.svg);
    height: 6px;
    width: 10px;
    margin-top: -2px;
    float: right;
  }
  .dropdown-menu {
    min-width: 247px;
    top: -2px !important;
    border-top: 0;
    border-bottom: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    .dropdown-item {
      background-color: rgba(201, 213, 234, 0.1);
    }
    .dropdown-item:last-child{
      border-bottom-right-radius: 0.25em;
      border-bottom-left-radius: 0.25em;
    }
  }
}

button:focus {
  outline: none !important;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.forms-container {
  border: 1px solid #c9d5ea;
  border-radius: 4px;
  &-title {
    border-bottom: 1px solid #c9d5ea;
  }
}
