@import '~oc-ng-common-component/assets/styles/mixins';

.page-info {
  margin: 4rem 0;
}

.filter__container {
  display: flex;
  flex-direction: column;
}

.featured-apps-container {
  @include media-breakpoint-md {
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
}

  // Media Query - max-width: 767px Start
  @media (max-width: 767px) {
    .page-title {
      font-size: 24px;
    }

    .page-description {
      font-size: 14px;
    }

    .page-info {
      margin: 3rem 0;
    }

    .featured .sec-space {
      padding: 25px 0 0 0 !important;
    }

    .featured .item-title,.item-description {
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }

h1 {
  font-size: 38px;
}
