<div class="bg-container height-unset d-flex flex-column align-items-center">
    <div class="container">
        <div class="row">
            <div class="page-info col-md-9 col-lg-7 text-center mx-auto">
                <h1 class="page-title">Your App Store Platform</h1>
                <p class="page-description mb-4 text-secondary">A design template for implementing your app store with OpenChannel</p>
            </div>
        </div>
    </div>
    <div class="container featured-apps-container">
        <oc-featured-apps *ngIf="isFeatured"
                          [data]="featuredApp"
                          (clickByAppCard)="goToAppDetailsPage($event)"
                          label="Featured"></oc-featured-apps>
    </div>
</div>
<div class="container">
    <div class="row mt-7">
        <div class="col-md-3 filter__container">
            <oc-text-search class="mb-3" (enterSearch)="catchSearchText($event)"></oc-text-search>
            <app-collapse-with-title titleForClose="Close filter options"
                                     titleForOpen="Open filter options"
                                     [collapsed]="filterCollapsed"
                                     (collapseChanged)="onCollapseChanged($event)">
            </app-collapse-with-title>
            <oc-sidebar *ngFor="let filter of sidebarFilters"
                        class="d-md-block mb-1"
                        [ngbCollapse]="filterCollapsed"
                        (sidebarChange)="onSidebarFilterChange(filter, $event)"
                        [title]="filter.name"
                        [sidebarModel]="filter.values"></oc-sidebar>
        </div>
        <div class="col-md-9">
            <ng-container *ngFor="let configElement of homePageConfig?.appListPage">
                <div [ngSwitch]="configElement?.type">
                    <div *ngSwitchCase="'filter-values-card-list'" class="mb-7">
                        <oc-app-categories *ngIf="categoriesData?.length > 0"
                                [data]="categories"
                                [categoryHeaderTitle]="configElement.name"
                                categoryRouterLink="/browse">
                        </oc-app-categories>
                    </div>
                </div>
                <oc-app-gallery class="section-wrapper"
                                *ngFor="let gallery of this.gallery"
                                moreAppsTitle="See All"
                                [appsArr]="gallery?.data"
                                [appGalleryTitle]="gallery.label"
                                [appGalleryDescription]="gallery.description"
                                (clickAppCard)="goToAppDetailsPage($event)"
                                (clickMoreApps)="goToBrowsePage(gallery.filterId, gallery.valueId)">
                </oc-app-gallery>
            </ng-container>
        </div>
    </div>
</div>
<div class="bg-container mt-5 py-8 min-height-auto">
    <div class="container">
        <oc-app-get-started getStartedImage="./assets/img/get-started.svg"
                            getStartedHeader="List your app in our app store"
                            getStartedDescription="Register as an app developer and submit your app easily with our App Store Developer Portal"
                            getStartedButtonText="Get started as an app Developer"></oc-app-get-started>
    </div>
</div>
