<oc-edit-user-form *ngIf="formConfigsLoaded"
                   [formConfigs]="formConfigs"
                   [enableTypesDropdown]="true"
                   [defaultAccountData]="formAccountData"
                   (createdFormGroup)="formGroup = $event"
                   (resultFormDataChange)="resultData = $event"></oc-edit-user-form>
<div *ngIf="formConfigsLoaded" class="w-100 mt-2">
  <oc-button type="primary" text="Save" class="save-button btn-block w-100"
             [process]="inSaveProcess"
             (click)="saveUserData()">
  </oc-button>
</div>
