<div class="bg-container height-unset">
    <div class="container header-padding">
        <div class="breadcrumbs-wrapper">
            <img class="breadcrumbs-icon" src="assets/img/arrow-left.svg" alt="arrow-icon">
            <a (click)="goBack()" class="font-m font-med pl-1 cursor-pointer" style="color: #537cfd ;">Back</a>
        </div>
        <h3 class="page-title page-title-size">My profile</h3>
    </div>
</div>

<div class="container">
    <div class="page-navigation row">
        <div class="col-md-3">
            <ul class="list-unstyled">
                <li>
                    <a (click)="gotoPage('myProfile')" class="font-m"
                        [ngClass]="{'active-link' : selectedPage === 'myProfile' }"> Profile Details </a>
                </li>
                <li>
                    <a (click)="gotoPage('changePassword')" class="font-m"
                        [ngClass]="{'active-link' : selectedPage === 'changePassword'}"> Password </a>
                </li>
            </ul>
        </div>
        <div class="col-md-4 pt-1">
            <app-general-profile *ngIf='selectedPage === "myProfile"'></app-general-profile>
            <app-change-password *ngIf='selectedPage === "changePassword"'></app-change-password>
        </div>
    </div>
</div>
<div class="mt-8"></div>
