<div class="bg-container height-unset">
    <app-page-title pageTitle="My profile" navigateText="Back" (navigateClick)="goBack()"></app-page-title>
</div>

<div class="container">
    <div class="page-navigation row">
        <div class="col-lg-3 col-xxl-2">
            <ul class="list-unstyled">
                <li *ngFor="let page of pages">
                    <a (click)="gotoPage(page)" class="font-m" [class.active-link]="page.pageId === selectedPage.pageId">
                        {{ page.placeholder }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 mt-3 mt-lg-1 col-xxl-6" [ngSwitch]="selectedPage.pageId">
            <app-general-profile *ngSwitchCase="pages[0].pageId"></app-general-profile>
            <app-change-password *ngSwitchCase="pages[1].pageId"></app-change-password>
            <app-billing *ngSwitchCase="pages[2].pageId"></app-billing>
        </div>
    </div>
</div>
<div class="mt-8"></div>
