<div class="bg-container height-unset">
    <app-page-title pageTitle="My profile" navigateText="Back" (navigateClick)="goBack()"></app-page-title>
</div>

<div class="container">
    <div class="page-navigation row">
        <div class="col-md-3">
            <ul class="list-unstyled">
                <li>
                    <a (click)="gotoPage('myProfile')" class="font-m"
                        [ngClass]="{'active-link' : selectedPage === 'myProfile' }"> Profile Details </a>
                </li>
                <li>
                    <a (click)="gotoPage('changePassword')" class="font-m"
                        [ngClass]="{'active-link' : selectedPage === 'changePassword'}"> Password </a>
                </li>
            </ul>
        </div>
        <div class="col-md-5 col-lg-4 pt-1">
            <app-general-profile *ngIf='selectedPage === "myProfile"'></app-general-profile>
            <app-change-password *ngIf='selectedPage === "changePassword"'></app-change-password>
        </div>
    </div>
</div>
<div class="mt-8"></div>
