<form novalidate  #form="ngForm">
    <div class="form-group">
        <oc-label text="Current Password"></oc-label>
        <oc-password name="password" #password="ngModel" [(ngModel)]="changePassModel.password"
                     ngDefaultControl required="required"></oc-password>
        <oc-error field="password" [control]="password"> </oc-error>
    </div>
    <div class="form-group">
        <oc-label text="New Password"></oc-label>
        <oc-password name="newPassword" #newPassword="ngModel"
                     [(ngModel)]="changePassModel.newPassword" ngDefaultControl required="required"></oc-password>
        <oc-error field="newPassword" [control]="newPassword"> </oc-error>
    </div>
    <div class="mt-2 w-100">
        <oc-button type="primary" text="Save" class="btn-block w-100"
                   [process]="isSaveInProcess"
                   (click)='changePassword(form)'>
        </oc-button>
    </div>
</form>
