<div *ngIf="formConfig?.fields" class="d-flex flex-column form-max-width">
  <oc-form  [formJsonData]="formConfig"
            [showButton]="false"
            (createdForm)="setCreatedForm($event)"
            (formDataUpdated)="setResultData($event)">
  </oc-form>
  <oc-button type="primary" text="Save" class="save-button ml-auto mr-0" [class]="'w-100'"
             [appPermissions]="savePermissions"
             [process]="inProcess"
             (click)="saveOrganization()">
  </oc-button>
</div>
