@import '~assets/styles/mixins';

.company-container {
  display: flex;
  flex-direction: column;
  @include media-breakpoint-md {
    width: auto;
  }
  .save-button {
    margin-left: auto;
    min-width: 256px;
    @include media-breakpoint-sm {
      min-width: 100%;
    }
  }
}
